<p style="color: green"><%= notice %></p>

<a href="<%=@recipe.id %>">
<h1> <%= @recipe.name %></h1>
</a>


<div>

  <p>
    Preparation Time: <%= @recipe.preparation_time %> hour
  </p>
  
<p>
  Cooking Time: <%= @recipe.cooking_time %> hour
</p>

<p>
  <%= @recipe.description %>
</p>

</div>

<%= form_for @recipe, method: :patch do |f| %>
<div class="swith-btn">
  <p>Public : </p>
  <label class="switch">
  <div><%= f.submit "" %></div>
    <%= f.check_box :public, { checked: @recipe.public } %>
    <span class="slider round"></span>
  </label>
</div>

<% end %>

<button>Generate shopping list</button>


<a href= <%= "/recipes/#{@recipe.id}/recipe_foods/new" %>>
<button>Add ingredient</button>
</a>



<table id="foods">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
    <tbody>
    <% @recipe.recipe_food.each do |recipe_food| %>
      <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
          <td>$ <%= recipe_food.value %></td>
          <td class="d-flex gap-2">
           <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id) %>
    <%= button_to "Remove", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), method: :delete %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

