<!DOCTYPE html>
<html>
  <head>
    <script defer data-domain="food-on-rail.onrender.com" src="https://plausible.io/js/script.js"></script>
    <title>Food on Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
